Dear Cloudadmin,

The resource for the Cloud request @@ID@@ has been provisioned in the G3 Cloud Portal.
Your system is now starting and active until @@STOP@@.

	Ip-address : @@IP@@ / @@HOSTNAME@@
	User: root
	Password : @@PASSWORD@@

	@@VNC@@

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
