Dear @@FORENAME@@ @@LASTNAME@@,

Your Cloud request @@ID@@ has been approved for deployment in the G3 Cloud Portal.
Your system will be ready at @@START@@ and reserved for you until @@STOP@@.
An email with the login details will be sent out at the requested start time.

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
