Dear @@FORENAME@@ @@LASTNAME@@,

Your account at the HyperTask Enterprise Cloud Zones has been recovered and a new password has been set.

Username : @@USER@@
Password : @@PASSWORD@@

HyperTask Enterprise Cloud Zones


