Dear @@FORENAME@@ @@LASTNAME@@,

Please activate your account at the HyperTask Enterprise Cloud Zones portal by visiting the URL below :

	@@EXTERNALPORTALNAME@@/cloud/register.php?cloud_zones_register=activate&cloud_zones_user_token=@@TOKEN@@&cloud-register[submit]=submit

Your secret Token to activate the account is : @@TOKEN@@

HyperTask Enterprise Cloud Zones


