Dear @@FORENAME@@ @@LASTNAME@@,

Your Cloud request @@ID@@ has been denied for provisioning in the G3 Cloud Portal.
(Eventually, you have already reached the maximum number of active appliances)

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
