Dear @@FORENAME@@ @@LASTNAME@@,

Your CCUs (Cloud Computing Units) are running low!
Currently you only have @@CCUS@@ left and the Appliance of your request @@ID@@ is going to be paused now.

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
