Dear @@FORENAME@@ @@LASTNAME@@,

You do not have any CCUs (Cloud Computing Units) left!
Your Cloud request @@ID@@ has been scheduled for deprovision in the G3 Cloud Portal.

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
