Dear @@FORENAME@@ @@LASTNAME@@,

Your CCUs (Cloud Computing Units) are running low!
Currently you only have @@CCUS@@ left and your request @@ID@@ is going to be deprovisioned soon.

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
