Dear @@FORENAME@@ @@LASTNAME@@,

The @@RESNUMBER@@. resource of your Cloud request @@ID@@ has been fully deprovisioned in the G3 Cloud Portal.

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
