Dear Cloud-Admin,

A new request from user @@USER@@ was submitted with the id @@ID@@.

Please check your request by login in your G3 Cloud Portal account :

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
