Dear @@FORENAME@@ @@LASTNAME@@,

Unfortunately, there are currently not enough resources available to provision @@YOUR@@ Cloud request @@ID@@.
Please try again later.

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
