Dear @@FORENAME@@ @@LASTNAME@@,

An account at the G3 Cloud portal has been created.

You can now login to :

	@@EXTERNALPORTALNAME@@

	Username : @@USER@@
	Password : @@PASSWORD@@

To request new virtual machines from the G3 Cloud you need to have "Cloud Computing Units" (CCU's). CCU's are the the virtual currency of the billing mechanism in the Cloud.

To get CCU's please contact :

	@@CLOUDADMIN@@

We are looking forward to hearing from you

Administrator
G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
