Dear @@FORENAME@@ @@LASTNAME@@,

Your password on the G3 Cloud portal has been reseted.

	@@EXTERNALPORTALNAME@@

	Username : @@USER@@
	Password : @@PASSWORD@@

You can now login to your G3 Cloud Portal account.

G3 Cloud Portal

Please contact @@CLOUDADMIN@@ for any further informations
