body {
    font-family: "open sans" !important;
    overflow-y: none !important;
    overflow-x: none !important;
	background-color: rgb(37,52,63); /*#32404e;*/
}

#fullbg {
    background-color: rgb(37,52,63); /*#32404e;*/
    height: 100%;
    position: absolute;
    /* top: -90px; */
    width: 100%;
    z-index: 2147483647;
}


#loginside {
    margin: 100px auto auto;
    width: 50%;
    z-index: 9999999;
	text-align: center;
}

#loginside h1 {
	color: #fff;
}

#loginside img {
    margin: auto;
    display: block;
    /* position: relative;
    top: 90px; */
}

#loginwindow {
     height: auto;
     width: 100%;
 	 margin-top: 50px;
	 /* background-color: #f1f1f1;
	 border-bottom: 4px solid lightgray;
	 border: 1px solid lightgray; */
   
}

#btnlogin {
    float: right;
	margin-top: 15px;
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #ffffff;
    font-family: "open sans";
    border-radius: 5px !important;
}

.restorepass {
    margin-left: 20px;
}

#loginwindow a.links {
    color: #579ddb;
    text-decoration: underline;
    font-size: 14px;
}

#loginwindow a.links:hover {
    text-decoration: none;
}

#loginwindow a.links i {
    text-decoration: none !important;
}

#loginwindow .sr-onlys {
   margin-top: 10px;
    margin-left: 20px;
    font-family: "open sans" !important;
    font-size: 16px;
    color: #579ddb !important;
	display: block;
}

#loginwindow .addlinks {
    position: relative;
    top: 35px;
    float: left;
    left: 30px;
}

#loginwindow .addlinks a {
    margin-right: 3px;
}
#loginwindow .form-inline {
    padding: 1% 5%;
	text-align: left;
}

div.form-inline div.form-group {
	margin-bottom: 6%;
	width: 100%;
}

#loginwindow .btn {
    margin-left: 20px;
    font-size: 13px;
    margin-left: 15px;
}

#loginwindow .input-group {
    margin-top: 5px;
    margin-left: 15px;
    width: 95%;
}

input, .input-group-addon {
    border-radius: 0px !important;
}

#loginwindow .input-group-addon {
    width: 50px;
    background-color: #579ddb;
    color: white;
}

#loginwindow .input-group #userlogin,
#loginwindow .input-group #userpassword,
#loginwindow .input-group input.form-control{
	background-color: #fff !important;
	border-radius: 5px !important;
	padding: 10px;
}

.login-arrow {
	float: right;
	margin-top: -34px;
	position: relative;
	z-index: 2;
	color: #fff;
	display: block;
	padding: 10px;
	border-radius: 0px 5px 5px 0px;
	background-color: #eef0f4;
	color: #464a4c;
	cursor: pointer;
}
.maestr-footer{
	position: fixed;
	bottom: 0;
	text-align: right;
	color: #fff;
	width: 100%;
	padding: 20px;
}